<h1 align=center><font size = 7>Segmenting and Clustering Neighborhoods in Toronto, Canada</font></h1>

## Part 1. In this part, we will explore and cluster the neighborhoods in Toronto

At first, we should get the data from wiki and prepare it for furher processing

In [5]:
##import required libraries
import pandas as pd
import numpy as np

In [27]:
##scrap data from wiki and prepare pandas dataframe 

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

tables = pd.read_html(url)
df = tables[0][0:]
df.head(3)

  Postcode       Borough Neighbourhood
0      M1A  Not assigned  Not assigned
1      M2A  Not assigned  Not assigned
2      M3A    North York     Parkwoods

#### Dataframe processing

In [32]:
#exclude rows with a borough that is Not assigned
df['Borough'].replace('Not assigned',np.nan, inplace=True)
df = df.dropna(axis='rows')

df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

In [35]:
#If a cell has a borough but a Not assigned neighborhood, 
#then the neighborhood will be the same as the borough.
df['Neighbourhood'].replace('Not assigned',df['Borough'], inplace=True)
df.iloc[6,]

Postcode                  M7A
Borough          Queen's Park
Neighbourhood    Queen's Park
Name: 8, dtype: object

In [72]:
#group neigborhoods by postcode and join them in one row separated by comma
#df_tst = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(lambda x: "{%s}" % ', '.join(x))
df_tst = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df_tst.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

In [73]:
#and we have..
df_tst.shape

(103, 3)